<!-- 
 File Name : edit.ejs
 COMP228 - Web Application Developmnet
 Summer 2021 Group 6
 Mighty Bunch

 Developers: 
 Sarabun Tohura - 300685525
 Yerim Cho - 301143325
 Mohammed Husain - 301149144
 Mostafa Asaad - 301173762
 Chaehyun Lee - 301084271
 Viktoriia Romaniuk - 301079072

 Web App Name : Migthy Survey
 Description : Users can create new survey. 
 There are two types of surveys, True or False / Scale.
 Only logged-in users can answer the survey,
 and only the creator of survey can edit / delte the survey. 
-->
<%- include ../partials/header.ejs %>

<%- include ../partials/main_nav.ejs %>

<!-- Content for the Edit page -->
<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <h1 style="color: white;" >Edit Survey</h1>
            <form class="form" method="POST">
              <div class="form-group">
                <label style="color: white;" for="NameTextField">Title</label>
                <input type="text" class="form-control" id="NameTextField"
                placeholder="Survey Name" name="title" value="<%= survey.title %>" required>
              </div>
              
              <div class="form-group col-md-3">
                <label style="color: white;" for="">Survey Start Date</label>
                <input type="date" class="" id=""
                placeholder="Survey start date" name="startdate" value="<%= survey.startdate.toISOString().substr(0, 10) %>"  required>
              </div>

              <div class="form-group col-md-3">
                <label style="color: white;" for="">Survey End Date</label>
                <input type="date" class="" id=""
                placeholder="Survey end date" name="enddate" value="<%= survey.enddate.toISOString().substr(0, 10) %>"  required>
              </div>

              <div class="form-group">
                <label style="color: white;" for="NameTextField">Questionn #1</label>
                <input type="text" class="form-control" id=""
                placeholder="Questionn #1" name="q1" value="<%= survey.q1 %>" required>
              </div>

              <div class="form-group">
                <label style="color: white;" for="NameTextField">Questionn #2</label>
                <input type="text" class="form-control" id=""
                placeholder="Questionn #2" name="q2" value="<%= survey.q2 %>" required>
              </div>

              <div class="form-group">
                <label style="color: white;" for="NameTextField">Questionn #3</label>
                <input type="text" class="form-control" id=""
                placeholder="Questionn #3" name="q3"value="<%= survey.q3 %>" required>
              </div>

              <div class="form-group">
                <label style="color: white;" for="NameTextField">Questionn #4</label>
                <input type="text" class="form-control" id=""
                placeholder="Questionn #4" name="q4" value="<%= survey.q4 %>" required>
              </div>

              <div class="form-group">
                <label style="color: white;" for="NameTextField">Questionn #5</label>
                <input type="text" class="form-control" id="NameTextField"
                placeholder="Questionn #5" name="q5" value="<%= survey.q5 %>" required>
              </div>

              <button class="btn btn-primary " type="submit">
                <i class="fas fa-edit"></i> Submit</button>
            
                <a href="/mypage" class="btn btn-warning">
                    <i class="fas fa-undo"></i> Cancel</a>
            </form>
            
        </div>

    </div>
</div>

<br/><br/><br/>

<%- include ../partials/bottom_nav.ejs %>  

<%- include ../partials/footer.ejs %>