<%- include ../partials/header.ejs %>

<%- include ../partials/main_nav.ejs %>

<!-- Content for the Edit page -->
<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">
          <!--<h1><%= title %></h1>-->
            <form class="form" method="POST">
              <div class="form-group">
                <!--label-- for="NameTextField">Title</!--label-->
                <h2><%= survey.title %></h2>
                
                <h4><%= survey.q1 %></h4>

                <div class="form-check-inline">
                  <label class="form-check-label">
                    <input type="radio" class="form-check-input lh-base" name="optradio">  True
                  </label>
                </div>
                <div class="form-check-inline">
                  <label class="form-check-label">
                    <input type="radio" class="form-check-input lh-base" name="optradio">  False
                  </label>
                </div>
  
                <h4><%= survey.q2 %></h4>

                <div class="form-check-inline">
                  <label class="form-check-label">
                    <input type="radio" class="form-check-input lh-base" name="optradio">  True
                  </label>
                </div>
                <div class="form-check-inline">
                  <label class="form-check-label">
                    <input type="radio" class="form-check-input lh-base" name="optradio">  False
                  </label>
                </div>

                <h4><%= survey.q3 %></h4>

                <div class="form-check-inline">
                  <label class="form-check-label">
                    <input type="radio" class="form-check-input lh-base" name="optradio">  True
                  </label>
                </div>
                <div class="form-check-inline">
                  <label class="form-check-label">
                    <input type="radio" class="form-check-input lh-base" name="optradio">  False
                  </label>
                </div>

                <h4><%= survey.q4 %></h4>

                <div class="form-check-inline">
                  <label class="form-check-label">
                    <input type="radio" class="form-check-input lh-base" name="optradio">  True
                  </label>
                </div>
                <div class="form-check-inline">
                  <label class="form-check-label">
                    <input type="radio" class="form-check-input lh-base" name="optradio">  False
                  </label>
                </div>

                <h4><%= survey.q5 %></h4>

                <div class="form-check-inline">
                  <label class="form-check-label">
                    <input type="radio" class="form-check-input lh-base" name="optradio">  True
                  </label>
                </div>
                <div class="form-check-inline">
                  <label class="form-check-label">
                    <input type="radio" class="form-check-input lh-base" name="optradio">  False
                  </label>
                </div>

              <button class="btn btn-primary " type="submit">
                <i class="fas fa-edit"></i> Submit</button>
            
                <a href="/survey-list" class="btn btn-warning">
                    <i class="fas fa-undo"></i> Cancel</a>
            </form>

           
        </div>

    </div>
</div>

<br/><br/><br/>

<%- include ../partials/bottom_nav.ejs %>  

<%- include ../partials/footer.ejs %>